/*RESET INICIAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #f9fbfc;
    color: #333;
    transition: background 0.3as, color 0.3s;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0099cc;
    color: #fff;
    padding: 1rem 2rem;
}

.logo{
    font-size: 1.5rem;
}

.hero{

    text-align: center;
    padding: 4rem 2rem;
    background: url('img/viagem.jpg') center/cover no-repeat;
    color: white;

}

.hero h2{

    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero p{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.btn{

    background: #ffcc00;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.destinos{

    padding: 3rem 1rem;
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.card{
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s, background 0.3s, color 0.3s;
}
.card:hover{
    transform:scale(1.03);
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {

    margin: 0.8rem;
    color: #0099cc;
}

.card p {
    margin: 0 1rem 1rem;
    font-size: 0.95rem;
    color: #000;
}


/*RODAPE*/
footer{
    text-align: center;
    background: #0099cc;
    color:white;
    padding: 1rem;
}


/*DARKMODE*/

body.dark{
    background-color: #121212;
    color: #fff;
}

body.dark header{
    background-color: #1e1e1e;
}
body.dark footer{
    background-color: #1e1e1e;
    color: #f5f5f5;
}
body.dark .card{
    background-color: #1e1e1e;
    color: #ddd;
}

body.dark .card h3{
    color: #4db8ff;
}

body.dark .btn{
    background-color: #000;
    color: #ffcc00;
}
body.dark .card p{
    color: #fff;
}