/*NAVEGACAO*/

.nav{
    display: flex;
    align-items: center;
}
.nav-links{
    list-style: none;
    display: flex;
    gap:1.5rem ;
    transition: all 0.3s ease ;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover{
    text-decoration: underline;
    color: yellow;
}

/*BOTAO HAMBURGUER*/

.hamburguer{  /* classe correta  .hamburger*/

    display: none;
    background: none;
    border: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    margin-left: 1rem;
}
.dark-btn{
    background: none;
    border: none;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    margin-left: 1rem;
}

/*RESNPOSIVO*/
@media(max-width: 768px){

    .nav-links{

        display: none;
        flex-direction: column;
        background: #0099cc;
        position: absolute;
        top:70px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        z-index: 1000;
    }

    .nav-links.active{
        display: flex;
    }
    .hamburguer{  /* classe correta .hamburger*/
        display: block;
    }


}