/* DEPLOY NA NETLIFY */
:root{
    --color-primary     : #0099CC;
    --color-hover-btn   : #28c9ff;
    --color-secondary   : #FFCC00;
    --color-tercery     : #dbaf00;
    --color-titles      : #333333;
    --color-neutral-0   : #ffffff;
    --color-neutral-1   : #000000;     
    --color-neutral-3   : #f1f1f1da;
    --color-gray-dark   : #464646;     
    --color-gray-course : #9c9c9c;     
}

html, body{
    font-family : 'Poppins', sans-serif;    
}

nav.active{
    display: flex;
    background-color: rgb(0 0 0 / 0.95);
}

.modal-foto.active{
    display: flex;
}

.title::after {
  content     : "";
  display     : block;
  width       : 120px;
  height      : 3px;
  margin      : 10px auto 0;
  background  : linear-gradient(to right, transparent, var(--color-secondary), transparent);
}

body.dark{
  background-color: var(--color-neutral-1);
  .title{
    color: var(--color-neutral-0);
  }
  .destinos-footer p{
    color: var(--color-neutral-0);
  }
  .card,
  .galeria img{
    border: 1px solid var(--color-neutral-0);
  }

  .area-clientes{
    border: 1px solid var(--color-neutral-0);
  }

}